.outer{
    display: flex;
    flex-direction: row;
}
.button{
    background-color:#d5531f;
    color: #fff;
    width: 10rem;
    border-radius: 20px;
    padding: .5rem 1rem;
  font-weight: bold;
  font-size: .8rem;
  cursor: pointer;
  border:none
}