.outer{
    display: flex;
    flex-direction: row;
}
.bannerbutton{
  background-color:#d5531f;
  color: #fff;
  width: 10rem;
  border-radius: 48px;
  padding: .5rem 1rem;
font-weight: bold;
font-size: 1.1rem;
cursor: pointer;
border:none;
text-decoration: none;
padding: 1.5rem 1.5rem;
font-family: 'Comfortaa', cursive;
font-family: 'Jost', sans-serif;
height: 72px;
width: 250px;
  
  
}
.bannerbutton {
  text-decoration: none;
}
.moves{
  color:#263831;
  font-family: 'Comfortaa', cursive;
font-family: 'Jost', sans-serif;
font-size: 88px



}
.oneplace{
  font-size: 28px

}
.container{
  padding :0;
}
.leftdiv{
  margin-left: 200px;
}
@media (max-width: 576px) {
  .custom-margin-sm {
    margin-left: 1rem;
  }
}
@media (min-width: 576px) {
  .marginleft {
    margin-left: 10rem;
  }
}
@media (max-width: 576px) {
  .marginright
   {
    margin-right: 2rem;
  }
}

@media (max-width: 576px) {
  .smmoves
   {
font-size: 60px
    
  }
}




