.paybutton {
    padding: 1rem 2rem; /* Adjust the padding as needed */
    font-size: 1.4rem; /* Adjust the font size as needed */
    background-color: #D5531F;
    color: #fff;
    border-radius: 20px;
    border:none
  }