.profile-photo {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    object-fit: cover;
    border-radius: 50%;
  }

.custom-rounded{
  border-radius: 30px;
}
.h5 {
  font-family: 'Jost', sans-serif !important;
}

  